@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

* {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

#ppc-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3em auto 64px auto;
  grid-gap: 3em;
  justify-items: center;
  max-width: fit-content;
}

@media only screen and (min-width: 768px) {
  #ppc-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  #ppc-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

i:not(.hover-exception), .ppc-title {
  transition: color .3s ease-out;
}

i:hover:not(.hover-exception), .ppc-title:hover {
  color: #ff7300;
}

.navbar {
    background-color: rgb(94, 255, 0) !important;
}